body {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
    color: white!important;
}
button {
    background-color: rgba(255,255,255,0.2);
    width: 100%;
    height: 150px;
    border: 5px solid rgba(255,255,255,0.8);
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
}
button:hover {
    background-color: rgba(255,255,255,0.1);
    cursor: pointer;

}
button:focus {
    outline: none;
}
button#next {
margin-top: 15px;
}
footer {
    text-align: center;
    font-size: 0.4em;
    color: white;
    margin-top: 10px;
}
h2 {
    font-size: 2em;
    margin-top: 5px;
    text-transform: uppercase;
    color: white!important;
}

h3 {
    margin-top: 25px;
    font-size: 3em;
    text-decoration: underline;
    text-decoration-color: greenyellow;
    margin-bottom: 0px;
}
.answer {
    width: 100%;
    height: 150px;
    margin-top: 25px;
    margin-bottom: 15px;
    background: rgba(255,255,255,0.2);
    color: white;
    text-align: center;
    border: 5px solid white;
    font-size: 1.5em;
    text-transform: uppercase;
}
.answer:focus {
    outline: none;
    background-color: rgba(255,255,255,0);
}
.buttons {
    margin: 0 auto;
}
.question {
    margin: 0 auto;
}
/* ANSWER COLOUR CHANGES */
.redText {
    border-color: red;
    background: none;
}
.redText::placeholder {
    color: red;
    text-transform: uppercase;
}

.smallText {
    font-size: 2em;
}
.greenText {
    border-color: greenyellow;
}
.greenText::placeholder {
    color: greenyellow;
    text-transform: uppercase;
}

/** ANSWER AND PORT DISPLAYS */
#portText {
    font-size: 3em;
    color: white;
}

@media (min-width: 300px) {
} 

@media (min-width: 576px) {
    h2 {
        font-size: 3em;
    } 
    h3 {
        font-size: 7em;
    }
    button#next {
        margin-top: 15px;
    }
    button {
        width: 100%;
    }
    .answer {
        width: 65%;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    button#next {
        margin-top: 0px;
    }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

}