body {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
    color: white;
}
button {
    border: 0;
    background-color: rgba(255,255,255,0.2);
    width: 235px;
    height: 150px;
    border: 5px solid rgba(255,255,255,0.8);
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
}
button:hover {
    background-color: rgba(255,255,255,0.1);
    cursor: pointer;

}
button:focus {
    outline: none;
}
button#next {
    margin-left: 40px;
}
footer {
    text-align: center;
    font-size: 0.4em;
    color: white;
    margin-top: 25px;
}
h2 {
    font-size: 4em;
    margin-top: 5px;
    text-transform: uppercase;
}

h3 {
    margin-top: 5px;
    font-size: 7em;
    text-decoration: underline;
    text-decoration-color: greenyellow;
    margin-bottom: 0px;
}
.answer {
    width: 500px;
    height: 200px;
    margin-top: 75px;
    margin-bottom: 15px;
    background: rgba(255,255,255,0.2);
    color: white;
    text-align: center;
    border: 5px solid white;
    font-size: 3em;
    text-transform: uppercase;
}
.answer:focus {
    outline: none;
    background-color: rgba(255,255,255,0);
}
/* ANSWER COLOUR CHANGES */
.redText {
    border-color: red;
    background: none;
}
.redText::placeholder {
    color: red;
    text-transform: uppercase;
}

.smallText {
    font-size: 2em;
}
.greenText {
    border-color: greenyellow;
}
.greenText::placeholder {
    color: greenyellow;
    text-transform: uppercase;
}

/** ANSWER AND PORT DISPLAYS */
#portText {
    font-size: 3em;
    color: white;
}

@media only screen and (max-width: 400px) {
    h2 {
        font-size: 1em;
    }
}


/*





.container {
    margin: 0 auto;
    padding: 15px;
    width: 90%;
    height: 100%;
    background-color: black;
    
}
*//*
.questionBlock {
    background-color: black;
  
    text-align: center;
    padding: 15px;
    color: white;
    padding-bottom: 25px;
}


**/